<html>
<body background="../<$BACKDROP_THUMB>" BGCOLOR="#222222">
<center>
<link rel="stylesheet" type="text/css" href="../standalone.css" />
<table><tr>
    <td width="450px" valign="top">
	<img width="300px" src="../<$POSTER_FILE>" /><br>
					    <div class="flags">
					        <img class="flags" src="../<$FLAG_VSOURCE>" />
					        <img class="flags" src="../<$FLAG_VRES>" />
					        <img class="flags" src="../<$FLAG_VTYPE>" />
					        <img class="flags" src="../<$FLAG_ATYPE>" />
					        <img class="flags" src="../<$FLAG_ACHAN>" />
					    </div>
    </td>
    <td width="700px" align="top">
	<div class="box">
			<table>
			    <tr>
				    <td width="700px" height="630px" valign="top">
					<div style="padding:10px 10px 10px 10px">
					    <font class="txttitle"><u><$MOVIENAME> (<$YEAR>)<u></font><br><br>
					    <font class="txtDirector">By: <$DIRECTOR> </font><br>
					    <font class="txtRuntime">Runtime:<$RUNTIME></font><br>
					    <font class="txtRuntime">Genre(s):<$GENRES></font><br>
					    <br>
					    <font class="txttagline">"<$TAGLINE>"</font>
					    <br>
					    <br>
					    <div align="justify" ><font class="txtplot"><$PLOT></font></div><br>
					</div>
				    </td>
			    <tr>
            		</table>
        </div>
    </td>
</tr></table>

</center>
</body>
</html>